@font-face {
  font-family: "iconfont"; /* Project id 4510252 */
  src: url('iconfont.woff2?t=1720773775164') format('woff2'),
       url('iconfont.woff?t=1720773775164') format('woff'),
       url('iconfont.ttf?t=1720773775164') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiaolianjie:before {
  content: "\ec80";
}

.icon-quxiao:before {
  content: "\e633";
}

.icon-quxiao1:before {
  content: "\e80a";
}

.icon-quxiao2:before {
  content: "\e606";
}

.icon-quxiaofenzha:before {
  content: "\e631";
}

.icon-cancel-test-copy:before {
  content: "\e607";
}

.icon-cancel:before {
  content: "\e608";
}

.icon-guanbi1:before {
  content: "\e605";
}

.icon-shuaxin4:before {
  content: "\e62f";
}

.icon-shuaxin5:before {
  content: "\e610";
}

.icon-icon-refresh:before {
  content: "\e65e";
}

.icon-shuaxin:before {
  content: "\e647";
}

.icon-guanbi:before {
  content: "\e641";
}

.icon-shuaxin1:before {
  content: "\e650";
}

.icon-shuaxin2:before {
  content: "\e637";
}

.icon-shuaxin3:before {
  content: "\e828";
}

.icon-shuaxin-:before {
  content: "\e61b";
}

.icon-people-network:before {
  content: "\e865";
}

.icon-relation:before {
  content: "\e867";
}

.icon-classkaisuohuansuo:before {
  content: "\e7f5";
}

.icon-moxingxuhua:before {
  content: "\e62a";
}

.icon-xuhua:before {
  content: "\e6ab";
}

.icon-moxingxuhua1:before {
  content: "\e62c";
}

.icon-yincangbukejian:before {
  content: "\e8d5";
}

.icon-zuzhiguanxi:before {
  content: "\e763";
}

.icon-lajitong:before {
  content: "\e621";
}

.icon-zhuye:before {
  content: "\e619";
}

.icon-zhuye1:before {
  content: "\e873";
}

.icon-shangchuan1:before {
  content: "\e600";
}

.icon-shujuchaxun:before {
  content: "\e63b";
}

.icon-data-Inquire-full:before {
  content: "\e93f";
}

.icon-lianjie:before {
  content: "\e74f";
}

.icon-001_shangchuan:before {
  content: "\e61a";
}

.icon-dakaishujukulianjie:before {
  content: "\e601";
}

.icon-lianjie1:before {
  content: "\fc14";
}

.icon-lianjie2:before {
  content: "\e602";
}

.icon-lianjie3:before {
  content: "\e603";
}

.icon-shangchuan:before {
  content: "\e628";
}

.icon-lianjie4:before {
  content: "\e604";
}

.icon-lianjie5:before {
  content: "\e678";
}

.icon--_shujuchaxun:before {
  content: "\e6ea";
}

.icon-shujuchaxun1:before {
  content: "\e6ba";
}

