.antdMenu .ant-menu-item{
  font-size: 22px;
  font-weight: bold;
  padding: 0 25px !important;
}

.svgOuter{
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon1 {
  margin-right: 8px;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon2 {
  margin-right: 8px;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}